- lan_parties.group(:game_scanner).pluck(:game_scanner).each do |game_scanner|
  - parties = lan_parties.where(game_scanner: game_scanner)
  - game = parties.take.game

  - if game
    %h4= link_to t("lan_party.ongoing_game", count: parties.count, game: game_scanner), game_path(game)
  - else
    %h4= t("lan_party.ongoing_game", count: parties.count, game: game_scanner)

  = render 'lan_parties/list', parties: parties

