.steam-avatar{class: user.online ? "online" : ""}
  - if can? :steam, user
    = link_to steam_user_path(user) do
      = image_tag user.avatar('mini'), "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => name_user(user)
  - else
    = image_tag user.avatar('mini'), "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => name_user(user)

