%h1
  Stream de
  = link_user nil, @user

- if @user.pseudo
  = render "streams/player", user: @user
- else
  .alert.alert-danger
    %p Vous devez avoir un pseudo afin d'accéder à la fonction de streaming

