- Dir.chdir('app/assets/images')
- list_images = Dir.glob('404/*')
- Dir.chdir("../../..")
.container
  .page-header.text-center
    %h1= t("errors.not_found.message")
    %h2.exo
      .color-green
    %hr
    = image_tag list_images.shuffle.first
    %br
    %h2.exo
      = link_to t("errors.not_found.link"), root_url
