= form_for supply_request, url: number_supply_borrowing_path(supply_request), html: {id: "request_form_#{supply_request.id}"}, method: :post do |f|
  .form-group
    = f.select :nb_supplies, 1..supply_request.supply.copy_loanables.size, {}, class: 'selectpicker', onchange: "$('#request_form_#{supply_request.id}').submit();"
