- model_class = Borrowing
%h1= t '.title', :default => model_class.model_name.human.pluralize.titleize

= render 'button_params', model_class: model_class

%br

= render 'table_index', borrowings: @borrowings

%br

= link_to t('.new', :default => t("helpers.links.new"), name: model_class.model_name.human),
            new_borrowing_path,
            :class => 'btn btn-primary'
