%h4= t("borrowing.title")

= render "list_copy", borrowing: @borrowing

%hr

=render "form", borrowing: @borrowing

= link_to 'Edit', edit_borrowing_path(@borrowing)
\|
= link_to 'Back', borrowings_path
