= render "charts_time", title: t("steam.charts.stats.online_users.title"), ytitle: t("steam.charts.stats.online_users.ytitle"), data: {t("steam.charts.stats.online_users.ytitle") => SaveData.users.where('created_at > ?', Time.now - 2.days).pluck(:created_at, :nb_online_users).map{|a, b| [(a.to_i+a.utc_offset)*1000, b]}}

= render "charts_time", title: t("steam.charts.stats.recent_playtime.title"), ytitle: t("steam.charts.stats.recent_playtime.ytitle"), data: {t("steam.charts.stats.recent_playtime.ytitle") => SaveData.games.pluck(:created_at, :recent_playtime).map{|a, b| [(a.to_i+a.utc_offset)*1000, b/60]}}

= render "charts_time", title: t("steam.charts.stats.total_playtime.title"), ytitle: t("steam.charts.stats.total_playtime.ytitle"), data: {t("steam.charts.stats.total_playtime.ytitle") => SaveData.games.pluck(:created_at, :total_playtime).map{|a, b| [(a.to_i+a.utc_offset)*1000, b/60]}, "Nombre d'utilisateur" => SaveData.users.pluck(:created_at, :nb_steam_users).map{|a, b| [(a.to_i+a.utc_offset)*1000, b]}}
