= render 'shared/charts_time',
  title: t('steam.charts.stats.online_users.title'),
  ytitle: t('steam.charts.stats.online_users.ytitle'),
  data: {t('steam.charts.stats.online_users.ytitle') => @chart_online_users}

= render "shared/charts_time",
  title: t("steam.charts.stats.recent_playtime.title"),
  ytitle: t("steam.charts.stats.recent_playtime.ytitle"),
  data: {t("steam.charts.stats.recent_playtime.ytitle") => @chart_recent_playtime}

= render "shared/charts_time",
  title: t("steam.charts.stats.total_playtime.title"),
  ytitle: t("steam.charts.stats.total_playtime.ytitle"),
  data: {t("steam.charts.stats.total_playtime.ytitle") => @chart_total_playtime,
         "Nombre d'utilisateur" => @chart_nb_users}

