%div{ style: "text-align:center" }
  %img{ src: root_url('') + '/gign.png',
        alt: "Logo GIGN",
        style: "max-width:400px" }
  %p
    Nouvelle
    = link_to "news", section_url('', section)
    sur le site !

  %p
    N'oubliez pas que vous pouvez emprunter du matériel sur le site !
