.row.resume-games
  .col-md-4
    = render 'games/div_stats', text: t("steam.resume_games.total_playtime"), stat: distance_of_hours_in_words(game.user_stats.all.sum(:total_playtime)*60)
  .col-md-4
    = render 'games/div_stats', text: t("steam.resume_games.recent_playtime"), stat: distance_of_hours_in_words(game.user_stats.all.sum(:recent_playtime)*60)
  .col-md-4
    = render 'games/div_stats', text: t("steam.resume_games.total_success"), stat: game.user_achievements.size
