.center
  %h4
    = t("steam.last_played_games")
    \-
    %i= t("steam.user.online", count: User.online.count)
  .last-games
    %span
      - games.each do |game|
        = render 'games/image_game', game: game
