.achievement
  .achievement-image
    = image_tag achievement.icon_closed_url, "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => achievement.description
  .achievement-content
    .achievement-text
      = achievement.name
