- model_class = Supply
%h1= t '.title', :default => model_class.model_name.human.pluralize.titleize

= render 'supplies/list_supplies', supplies: @supplies

%br

%button.btn.btn-primary{"data-toggle" => "modal", "data-target" => "#supplyModal"}
  = t("helpers.links.new", :name => model_class.model_name.human)

= render 'supplies/form', supply: Supply.new

