production:
  # Use rake secret to regenerate a secret, this one is provide as an example. Don't use it in production !
  secret_token: "6f27e8ca36792b85d45b7d720572b3d0c91d373a190f36a1fcde1923479d0603451cdd8611a148c692f9f6a63af604eb4bd9322c0d3bba7761e3388ad7fb074d"
  contact: "contact@mail.com"
  steam:
    key: "Yout steam API key"
  stepmania:
    json_url: "http://link.larez.fr/stepmania.json"
    url: "URL of hosted stepmania songs"
    host: "stepmania"
    user: "stepmania"
    password: "stepmania"
    database: "stepmania"
  scan:
    dedicated_ip:
      - "6.6.6.6"
  stream:
    time_url: ""
    dash_url: ""

development:
  secret_token: "6f27e8ca36792b85d45b7d720572b3d0c91d373a190f36a1fcde1923479d0603451cdd8611a148c692f9f6a63af604eb4bd9322c0d3bba7761e3388ad7fb074d"
  contact: "contact@mail.com"
  steam:
    key: "Yout steam API key"
  stepmania:
    json_url: "http://link.larez.fr/stepmania.json"
    url: "URL of hosted stepmania songs"
    host: "stepmania"
    user: "stepmania"
    password: "stepmania"
    database: "stepmania"
  scan:
    dedicated_ip:
      - "6.6.6.6"
  stream:
    time_url: ""
    dash_url: ""

