- model_class = StepmaniaPack
.page-header
  %h1= @stepmania_pack.name.titleize

%h1= t '.title', :default => StepmaniaSong.model_name.human.pluralize.titleize

= render 'stepmania_songs/list', stepmania_songs: @stepmania_pack.stepmania_songs

= render 'comments/list', resource: @stepmania_pack

