- model_class = Lan

%h1 Lan \o/

- @lans.each do |lan|
  .well
    = render 'lans/lan_resume', lan: lan
    - if can? :destroy, lan
      = link_to t('.destroy', :default => t("helpers.links.destroy")),
                  lan_path(lan),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-xs btn-danger pull-right' 
      %br


- if can? :create, Lan
  .form-actions
    %button.btn.btn-primary{"data-toggle" => "modal", "data-target" => "#LanModal"}
      = t("helpers.links.new", :name => model_class.model_name.human)

    = render 'lans/form', lan: Lan.new

