/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.status_tag {
  background: #123456;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3px 5px 2px 5px;
  font-size: 0.8em;

  &.ok, &.published, &.complete, &.completed, &.green { background: #8daa92; }
  &.warn, &.warning, &.orange { background: #e29b20; }
  &.error, &.errored, &.red { background: #d45f53; }
}

#carousel-image{
  background-color: black;
  height: 300px;
  font-size: 20px;
  font-color: black;
}

#borrowing {
  .progress {border: 1px solid #e3e3e3; height: 30px; margin-top: 5px;
    .progress-bar {-webkit-box-shadow: none; box-shadow: none; width: 20%; background-color: #FAFAFA; color: #5a5a5a;
      p {padding-top: 5px; font-size: 14px; text-align: center; margin-bottom: 0;}
      a { color: #5a5a5a; }
      &.current a { color: #fff; }
      .fa.next {margin-top: -10px; font-size: 3.1em; opacity: 0.5;}
      .fa.current {color: grey; opacity: 1;}
      .fa.current.next {margin-top: -15px; margin-left: -1px; font-size: 3.6em;}
      .fa.current-back {margin-top: -16px; font-size: 3.8em; opacity: 1; color: #fafafa }
      i.arrow-right {position: relative; margin-top: -7px;}
      i.arrow-right:after, i.arrow-right:before {height: 16px; border-right: 1px solid grey; content: ""; position: absolute; pointer-events: none;}
      i.arrow-right:after {-webkit-transform: skew(45deg); -ms-transform: skew(45deg); -o-transform: skew(45deg); -moz-transform: skew(45deg);}
      i.arrow-right:before {-webkit-transform: skew(-45deg); -ms-transform: skew(-45deg); -o-transform: skew(-45deg); -moz-transform: skew(-45deg); top: 16px;}
    }
    .progress-bar.current {background-color: grey; color: white;}
  }
} 
