.stepmania-avatar{
  background: linear-gradient(to bottom, #276D1E 5%,#003004 95%);
  width:24px;height:24px;position:relative;padding:2px;border-radius:3px;margin:1px;
  img {width:20px;height:20px;border:1px solid #3B3D3A;border-radius:3px;background-color:white;position:absolute}
}

.stepmania-difficulty-expert{
background: -webkit-linear-gradient(rgb(42, 153, 147), rgb(55, 69, 34));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: rgb(48, 100, 80);
}

.stepmania-difficulty-hard{
background: -webkit-linear-gradient(rgb(171, 50, 26), rgb(86, 52, 4));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: rgb(120, 50, 15);
}

.stepmania-difficulty-medium{
background: -webkit-linear-gradient(rgb(172, 154, 0), rgb(88, 73, 4));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: rgb(130, 110, 2);
}

.stepmania-difficulty-easy{
background: -webkit-linear-gradient(rgb(48, 171, 0), rgb(56, 76, 0));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: rgb(52, 120, 0);
}

.stepmania-difficulty-beginner{
background: -webkit-linear-gradient(rgb(180, 50, 148), rgb(84, 54, 26));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: rgb(135, 52, 65);
}

.stepmania-difficulty{font-weight: 900; font-size: 14px}
.stepmania-note{font-weight: 900; font-size: 13px}

.stepmania-note-flawless{
background: -webkit-linear-gradient(rgb(113, 146, 243), white);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: rgb(113, 146, 243);
}

.stepmania-note-perfect{
background: -webkit-linear-gradient(rgb(210, 174, 24), rgb(255, 242, 115));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: rgb(230, 200, 70);
}

.stepmania-note-great{
color: rgb(27, 184, 7);
}

.stepmania-note-good{
color: rgb(91, 161, 255);
}

.stepmania-note-boo{
color: rgb(211, 9, 231);
}

.stepmania-note-miss{
color: rgb(220, 6, 0);
}
