- if !images.empty?

  #carousel-image.carousel.slide
    .carousel-inner
      - images.each_with_index do |image, index|
        .item{class: index == 0 ? 'active' : ''}
          .center
            = link_to image.imageable do
              = image_tag(image.medium_url)
            - if can? :delete, image
              = link_to image_path(image), class: 'btn btn-danger destroy-image', method: :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do
                %i.fa.fa-trash-o
 

    %a.left.carousel-control{href: "#carousel-image", role: "button", "data-slide" => "prev"}
      %i.fa.fa-chevron-left{style: 'margin-top:140px;'}

    %a.right.carousel-control{href: "#carousel-image", role: "button", "data-slide" => "next"}
      %i.fa.fa-chevron-right{style: 'margin-top:140px'}

