- if !images.empty?

  #carousel-image.carousel.slide
    %ol.carousel-indicators
      - images.each_with_index do |image, index|
        .li{"data-target" => '#carousel-image', "data-slide-to" => index}

    .carousel-inner
      - images.each_with_index do |image, index|
        - if index == 0
          .item.active
            .center
              = image_tag(image.url)
            .carousel-caption
              = image.name
        -else
          .item
            .center
              = image_tag(image.url)
            .carousel-caption
              =# image.name


    %a.left.carousel-control{href: "#carousel-image", role: "button", "data-slide" => "prev"}
      %span.glyphicon.glyphicon-chevron-left

    %a.right.carousel-control{href: "#carousel-image", role: "button", "data-slide" => "next"}
      %span.glyphicon.glyphicon-chevron-right

