- if !images.empty?

  #carousel-image.carousel.slide
    .carousel-inner
      - images.each_with_index do |image, index|
        - if index == 0
          .item.active
            .center
              = image_tag(image.url)
            .carousel-caption
              %p.style{style: 'text-align:right;padding-left:50px;'}
                = link_to image_path(image), class: 'btn btn-danger', method: :delete do
                  %i.fa.fa-trash-o

        -else
          .item
            .center
              = image_tag(image.url)
              %i.fa.fa-trash-o


    %a.left.carousel-control{href: "#carousel-image", role: "button", "data-slide" => "prev"}
      %span.glyphicon.glyphicon-chevron-left

    %a.right.carousel-control{href: "#carousel-image", role: "button", "data-slide" => "next"}
      %span.glyphicon.glyphicon-chevron-right

